defaultEntryPoints = ["https"]

logLevel = "INFO"

RootCAs = [ "../certs/backend.crt" ]

[entryPoints]
  [entryPoints.https]
  address = ":4443"
    [entryPoints.https.tls]
     [[entryPoints.https.tls.certificates]]
     certFile = "../certs/frontend.crt"
     keyFile  = "../certs/frontend.key"

[api]

[file]

[backends]
  [backends.backend1]
    [backends.backend1.servers.server1]
    url = "https://backend.local:50051"


[frontends]
  [frontends.frontend1]
  backend = "backend1"
    [frontends.frontend1.routes.test_1]
    rule = "Host:frontend.local"

[traefikLog]

[metrics]
  [metrics.prometheus]
    entryPoint = "traefik"
